* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #fffbfb, #a5a5a5);
  color: black;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

h1 {
  padding: 12px;
  margin-bottom: 40px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  min-width: 150px;
  text-align: left;
  margin-right: 15px;
  font-size: 20px;
}

input {
  flex: 1;
  min-width: 0;
  border: 1px solid #302d2d;
  border-radius: 4px;
  outline: #302d2d;
  outline-color: #302d2d;
  outline-width: 1px;
  padding: 10px;
  background: #ffbfbf;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 4px;
  width: auto;
  cursor: pointer;
  position: relative;
}

table {
  margin: 20px 20px;
  text-align: center;
  align-items: center;
}

tr th {
  text-align: center;
  padding: 4px 5px;
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.create-review {
  width: 100%;
  max-width: 540px;
  background: #ff9090;
  margin: 10px auto 10px;
  padding: 30px 30px 30px;
  border-radius: 5px;
}

.edit-review {
  width: 100%;
  max-width: 540px;
  background: #ff9090;
  margin: 10px auto 10px;
  padding: 30px 30px 30px;
  border-radius: 5px;
}

.review-card {
  width: 150%;
  max-width: 800px;
  background: #ff9e9e;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.timestamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 13px;
  color: #1b1a1a;
}

.darker-link {
  color: #000E6B;
}
