body {
  font-family: 'Ojuju', 'PT Sans', 'Titillium Web', sans-serif;
  background:black;
  color:rgb(186, 186, 186);
  padding: 20px;
}

input{
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #23206e;
  color: white;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid rgb(186, 186, 186);
  background-color: #30a073;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #1d5840;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th {
  border-bottom: 2px solid rgb(186, 186, 186);
  padding: 8px;
}
td{
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  padding: 8px;
}

#submit {
  background-color: rgb(125, 35, 160);
}
#submit:hover {
  background-color: rgb(77, 23, 98);
}

#viewData {
  background-color: #a96f2c;
}
#viewData:hover {
  background-color: #784e1f;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  background-color: #333;
  padding: 2px 6px;
  border-radius: 4px;
}

.input {
  background-color: #5c5c5c;
  padding: 2px 6px;
  border-radius: 2px;
}